.banner-single{
    display: flex;
    align-items: center;
    max-height: 300px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color:rgba(0,0,0,0.4);
    .box{            
        &-text{
            display: flex;
            color: $white;
            .title{
                display: flex;
                flex-flow: row;
                align-items: center;
                font-weight: 700;
                font-size: 4vw;
                .icon{
                    margin-right: 15px;
                    svg{
                        width: 100%;
                        height: auto;
                        max-width: 70px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .banner-single{
        .box{
            &-text{
                justify-content: center;
                .title{
                    font-size: 8vw;
                }
            }
        }
    }
}
