$primary:#333333;
$secondaryColor:#1f1f1f;
$gray: #efefef;
$white: #ffffff;
$primaryLight: #524f4f;

// Fontes
$ft1:'open-sans-v15-latin-regular';
$fta1:'open-sans-v15-latin-regular';
$ft2:'montserrat-v12-latin-regular';
$fta2:'montserrat-v12-latin-regular';
