.bread-box{
  background-color: $primaryLight;
  #breadcrumbs{
    display: flex;
    flex-flow: row;
    color: $white;
    list-style-type: none;
    padding: 10px 0;
    li{
      margin: 0 5px;
    }
    li:first-child{
      margin-left: 0;
    }
    li:last-child{
      margin-right: 0;
    }
  }
}
