// Navbar
nav {
  &.bg-custom {
    background-color: $primary;
    font-family: $ft2;
  }
  .logo {
    display: block;
    img {
      max-width: 100px;
      width: 100%;
      height: auto;
    }
  }
}
